<div id="introBubble" class="rounded_panel txt_lightgrey">
	<div class="top-rounded-panel grey-bg">
		<h1 id="user-intro">Introduction &amp; Background</h1>
	</div>
	<div class="content-rounded-panel">
		<div id="introBlurb">
			With over 19 years technical consulting and software engineering experience, I specialise in automation as part of the continuous delivery life cycle.  I have been implementing and talking about DevOps for the past 7 years.<br><br>I am an expert in automation, (including Terraform, Packer, Vagrant, Chef, Ansible and Puppet), Middleware Technologies, software architecture, Java (plus many other languages), continuous integration, continuous deployment, continuous testing and many of the toolsets used to implement these practices.
		</div>
		<br>
	</div>
</div>
